button, .logout-btn, .send-btn, .discard-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
  width: 30%;
}

button:hover, .logout-btn:hover, .send-btn:hover {
  background-color: var(--primary-hover);
}

.new-mail-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(120, 130, 150, 0.09);
  font-size: 1.20rem;
  padding: 10px 25px 10px 20px;
  margin: 18px auto 24px auto;
  width: 90%;
  transition: background 0.15s, box-shadow 0.15s;
  cursor: pointer;
}
.new-mail-btn:hover {
  background: var(--primary-hover);
  box-shadow: 0 4px 20px rgba(120, 130, 150, 0.12);
}
.new-mail-btn svg {
  font-size: 1.7em;
}

.discard-btn {
  background-color: transparent;
  color: #d93025;
  border: 1px solid #d93025;
}

.discard-btn:hover {
  background-color: #fbeaea;
}
