.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f0b6e8;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
