@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Twinkle+Star&display=swap');

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  background: var(--bg-color);
  padding: 0 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-section {
  display: flex;
  align-items: center;
  /* gap: 16px; */
}

.logo-area {
  cursor: pointer;
}

.app-logo {
  height: 47px;      
  width: 47px;
  object-fit: contain;
  margin: 7px;
  vertical-align: middle;
}

.app-name {
  font-size: 1.5rem;
  color: #f0887b;
  letter-spacing: 1.2px;
  font-family: "Twinkle Star", cursive;
  font-weight: 600;
  font-style: normal;
  margin-top: 10px;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 75%;        
  max-width: 800px;
  min-width: 250px;
  background: #b3d0e4;       
  border-radius: 32px;
  height: 100%;
}

.search-bar-input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 1.1rem;
  margin-bottom: 0px;
  outline: none;
}

.search-icon {
  font-size: 1.3rem;
  color: #7d7d7d;
  margin-left: 20px;
  margin-top: 6px; 
}

.search-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.actions-section {
  gap: 10px;
}

.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 6px;
  border: 2px solid  var(--primary-color);
  cursor: pointer;
}