@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Twinkle+Star&display=swap');

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  background: var(--bg-color);
  padding: 0 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-section {
  display: flex;
  align-items: center;
  /* gap: 16px; */
}

.logo-area {
  cursor: pointer;
}

.app-logo {
  height: 47px;      
  width: 47px;
  object-fit: contain;
  margin: 7px;
  vertical-align: middle;
}

.app-name {
  font-size: 1.5rem;
  color: #f0887b;
  letter-spacing: 1.2px;
  font-family: "Twinkle Star", cursive;
  font-weight: 600;
  font-style: normal;
  margin-top: 10px;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 75%;        
  max-width: 800px;
  min-width: 250px;
  background: #b3d0e4;       
  border-radius: 32px;
  height: 100%;
}

.search-bar-input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 1.1rem;
  margin-bottom: 0px;
  outline: none;
}

.search-icon {
  font-size: 1.3rem;
  color: #7d7d7d;
  margin-left: 20px;
  margin-top: 6px; 
}

.search-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.actions-section {
  gap: 10px;
}

.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 6px;
  border: 2px solid  var(--primary-color);
  cursor: pointer;
}
.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  background: white;
  border-radius: 20px;
  padding: 20px 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 280px;
  z-index: 999;
  text-align: center;
}

.close-btn {
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.profile-email {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.profile-pic-ring {
  border-radius: 50%;
  padding: 2px;
  background: conic-gradient(red, yellow, green, blue, red);
  width: 72px;
  height: 72px;
  margin: 0 auto;
}

.profile-pic {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile-name {
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
}

.google-settings-btn {
  background: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px 12px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.dropdown-btn {
  background: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
  margin: 0 4px;
}

.storage-info {
  font-size: 12px;
  color: #666;
  margin-top: 12px;
}