services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: server
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    stdin_open: true
    tty: true

  web:
     build:
       context: .
       dockerfile: Dockerfile.web
     container_name: web
     depends_on:
       - server
     ports:
       - "3000:3000"
     environment:
       - TCP_HOST=server
       - TCP_PORT=8080
       - BF_SIZE=8
       - BF_HASHES=1,2

     volumes:
      - ./src/web_server:/app
     stdin_open: true
     tty: true

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: frontend
    ports:
      - "3001:3001"
    depends_on:
      - web
    stdin_open: true
    tty: true
