services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: server
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    stdin_open: true
    tty: true

  web:
     build:
       context: .
       dockerfile: Dockerfile.web
     container_name: web
     depends_on:
       - server
     ports:
       - "3000:3000"
     environment:
       - TCP_HOST=server
       - TCP_PORT=8080
     volumes:
       - ./src/web_server:/app
     stdin_open: true
     tty: true

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: client
    depends_on:
      - server
    volumes:
      - ./data:/app/data
    stdin_open: true
    tty: true

  test:
    build:
      context: .
      dockerfile: Dockerfile.tests
    container_name: test
    depends_on:
      - server
    volumes:
      - ./data:/app/data
    stdin_open: true
    tty: true