services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    volumes:
      - ./data:/app/data
    ports:
      - "8080:8080"

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    stdin_open: true
    tty: true
