services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./data:/app/data
    stdin_open: true
    tty: true

  test:
    build:
      context: .
      dockerfile: Dockerfile.tests
    command: ./build/runTests